/*-----------------------------------*\
  #FEATURES
\*-----------------------------------*/

.features {
  background: var(--cultured-2);
  padding-block: var(--section-padding);
}

.featuresList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px 20px;
}

.featuresList > li { 
  width: calc(50% - 10px); 
}

.featuresCard {
  position: relative;
  background: var(--white);
  padding: 40px 15px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
  gap: 10px;
  box-shadow: var(--shadow-1);
}

.featuresCard:is(:hover, :focus) { 
  background: var(--orange-soda); 
}

.featuresCard .cardIcon {
  background: var(--seashell);
  color: var(--orange-soda);
  width: 60px;
  height: 60px;
  display: grid;
  place-items: center;
  border-radius: 50%;
  font-size: 28px;
}

.featuresCard .cardIcon ion-icon { 
  --ionicon-stroke-width: 20px; 
}

.featuresCard .cardTitle {
  color: var(--dark-jungle-green);
  font-family: var(--ff-poppins);
  font-size: var(--fs-6);
  font-weight: var(--fw-600);
  text-align: center;
  transition: var(--transition);
}

.featuresCard:is(:hover, :focus) .cardTitle { 
  color: var(--white); 
}

.featuresCard .cardBtn {
  background: var(--white);
  color: var(--cadet);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 40px;
  height: 40px;
  display: grid;
  place-items: center;
  font-size: 20px;
  border-radius: 50%;
  box-shadow: 0 0 10px hsla(219, 56%, 21%, 0.1);
  transition: var(--transition);
}

.featuresCard:is(:hover, :focus) .cardBtn { 
  color: var(--orange-soda); 
}

@media (min-width: 768px) {
  .featuresList > li { 
    width: calc(33.33% - 13.33px); 
  }

  .featuresCard { 
    gap: 20px; 
  }

  .featuresCard .cardIcon {
    width: 80px;
    height: 80px;
    font-size: 32px;
  }

  .featuresCard .cardTitle { 
    --fs-6: 1.125rem; 
  }
}

@media (min-width: 992px) {
  .featuresList { 
    column-gap: 30px; 
  }

  .featuresList > li { 
    width: calc(25% - 30px); 
  }
}

@media (min-width: 1200px) {
  .featuresCard .cardIcon {
    width: 100px;
    height: 100px;
    font-size: 45px;
  }

  .featuresCard .cardTitle { 
    --fs-6: 1.375rem; 
  }
}
